.contact{
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
    position: relative;
    background-color: white;
    border-top: 1px solid lightgray;
}

.contact h2{
    padding-bottom: 20px;
    font-weight: 400;
}

.contact__form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

.contact__form input{
    border-radius: 5px;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    background-color: white;
}

.contact__form textarea{
    border-radius: 5px;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.contact__horizontal{
    width: 30%;
    background-color: rgba(244,202,224,0.3);
    height: 10%;
    position: absolute;
    left: 0;
    bottom: 10vh;
    
 }
 
 .contact__vertical{
    width: 7%;
    background-color: rgba(215,185,213,0.3);
    height: 55%;
    position: absolute;
    bottom: 0;
    left: 5vw;
 }
