.footer{
    background-color: #101820ff;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    color: grey;
    border-top: 1px solid grey;
} 

.footer__socials{
    display: flex;
    justify-content: space-evenly;
    min-width: 20%;
}

.footer__socials a {
  color: #fff;
}