.portfolio{
    height: 100vh;
    background-color: #101820ff;
    color: white;
    display: grid;
    place-items: center;
}

.portfolio__text{
    text-align: center;
    margin-bottom: 30px;
} 

.portfolio__text > h2{
    font-weight: 400;
    margin-bottom: 10px;
}

.portfolio p{
    font-weight: 300;
    color: lightgray;
}

.portfolio__container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 5%;
}

.portfolio__box{
    position: relative;
    width: 30%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.portfolio__image{
    width: 100%;
    height: 100%;
}

.portfolio__hover{
    position: absolute;
    background-color: #fee715ff;
    top: 0%;
    right: 38%;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    z-index: 99;
    font-weight: 300;
    color: #101820ff;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: none;
    transition: all 2s ease-in-out ;

}

.portfolio__box:hover .portfolio__hover{
    display: flex;
    transform: translateY(60%);
} 

.portfolio__box:hover img{
    opacity: 0.5;
}